<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title layout
    body
        .app
            .app__lay

                .app__col1 

                .app_col2
                    .app__col2-1 row1
                    .app__col2-2 row2
                    
                    .app__col2-3 col1
                    .app__col2-4 col2