<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title layout
    body
        .app
            .app__top 
        
            .app__col
                .app__col1
                    .app__col1-1 
                    .app__col1-2 

                .app__col2
                    .app__col2-1 
                    .app__col2-2 